<%- include('/header'); -%>

<div id="error" class="hidden">
    <p id="error-text"></p>
    <hr>
</div>

<div id="info" class="hidden">
    <h2 id="info-title"></h2>
    <p>
        github: <a id="info-github" href=""></a>
    </p>
    <p>
        content: <a id="info-mp" href=""></a>
    </p>
    <p>
        contentBusId: <code id="info-contentBusId"></code>
    </p>
    <hr>
</div>

<div id="loading" class="hidden">
    <p>
        loading....
    </p>
</div>

<div id="github-form" class="hidden">
    <p>
        Enter github url: <input name="github" id="github-url" type="url" size="60">
        <button id="btn-connect">ok</button>
    </p>
</div>

<div id="connect-onedrive" class="hidden">
    <p>
        <a id="login-onedrive" href="">Connect to Sharepoint / Onedrive</a>
    </p>
    <p>
        <a href="<%= links.root %>">start over</a>
    </p>
</div>

<div id="connect-google" class="hidden">
    <p>
        <a id="login-google" href="">Connect to Google</a>
    </p>
    <p>
        <a href="<%= links.root %>">start over</a>
    </p>
</div>

<div id="connected" class="hidden">
    <p>
        Connected user <strong><span id="me-displayName"></span> &lt;<a id="me-mail" href=""></a>&gt;</strong>
        <button id="btn-disconnect">disconnect</button>
    </p>
    <p>
        <a href="<%= links.root %>">back</a>
    </p>
</div>

<a id="link-connect" href="<%= links.connect %>"></a>
<a id="link-info" href="<%= links.info %>"></a>
<a id="link-disconnect" href="<%= links.disconnect %>"></a>

<%- include('/footer'); -%>


