<%- include('/header'); -%>

<div id="error" class="hidden">
    <p id="error-text"></p>
    <hr>
</div>

<div id="login" class="hidden">
    <button id="btn-login">sign in</button>
    <hr>
</div>
<div id="logout" class="hidden">
    <p><strong id="login-name"></strong> &lt;<span id="login-email"></span>&gt;
        <button id="btn-logout">sign out</button>
    </p>
    <hr>
</div>

<div id="project-info" class="hidden">
    <h2 id="info-title"></h2>
    <div class="property-list">
        <span>github:</span><a id="info-github" href=""></a>
    </div>
</div>

<div id="mount-info" class="property-list hidden">
    <span>content:</span><a id="info-mp" href=""></a>
    <span>contentBusId</span><code id="info-contentBusId"></code>
    <span>tenantId</span><code id="info-tenantId"></code>
    <hr>
</div>

<div id="loading" class="hidden">
    <p>
        loading....
    </p>
</div>

<div id="github-form" class="hidden">
    <form id="github-form-form">
        <label for="github-url">Enter github url:</label>
        <input name="github" id="github-url" type="url" size="60">
    </form>
    <p class="button-container">
        <button id="btn-connect">ok</button>
    </p>
</div>

<div id="user-list-panel" class="hidden">
    <h3>User List</h3>
    <ul id="user-list">
        <li id="add-user">
            <select name="user" id="user-name">
                <option value="content">content</option>
                <option value="forms">forms</option>
                <option value="index">index</option>
            </select>
            <button id="btn-add-user">....</button>
        </li>
    </ul>
    <div id="connected-user" class="property-list">
        <span>user</span><span><strong id="me-displayName"></strong> &lt;<span id="me-mail"></span>&gt;&nbsp;<button id="btn-disconnect">disconnect</button></span>
        <span>scopes:</span><code id="info-scopes"></code>
        <span>IDP:</span><code id="info-idp"></code>
        <span>issuer:</span><code id="info-issuer"></code>
    </div>
</div>

<a id="link-connect" href="<%= links.connect %>"></a>
<a id="link-info" href="<%= links.info %>"></a>
<a id="link-disconnect" href="<%= links.disconnect %>"></a>

<%- include('/footer'); -%>


